.site-header {
  padding: 1rem 0;
}
.site-logo{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;

}

.nav-container{
   display: flex;
   justify-content:space-between;
   align-items: center;
  max-width: 1200px;
  padding: 0 1.5rem;
   
}

.nav-links{
   display: flex;
   gap: 15px;
  
}

.nav-link {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.nav-link:hover {
  color: #555;
  
  
}
.nav-link,
.nav-link:hover,
.nav-link:visited,
.nav-link:focus,
.nav-link:active {
  text-decoration: none;
}


.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  background-color: #f6f7f4;
  gap: 40px;
}


.hero-content {
  max-width: 560px;
}


.blue-books{
   color: #62ADD7;
}

 
 .hero-title {
  font-family: "DynaPuff", system-ui;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.15;
  color: #3f3f3f;
  margin-bottom: 28px;
}
  


.hero-description{
  font-family: "DynaPuff", system-ui;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: #6a6a6a;
  margin-bottom: 36px;

  max-width: 420px;
   letter-spacing: 0.2px;
}

.hero-btn{
  background-color: #62ADD7;
  border: none;
  padding: 11px 64px 11px 48px;
  width: 220px;
  border-radius: 5px;
  color: #FFF;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-btn:hover{
  background-color: #528fb2;
 
}
.hero-btn:focus-visible{
  outline: 3px solid #1f6fa8;
  outline-offset: 3px;
}

.hero-image img {
  max-width: 520px;
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}